<div id="brand">
  <%= image_tag 'eggshell.svg' %>
  <span>Eclore</span>
</div>

<div id="first-div">
  <div class="container-fluid">
    <div class="row">
      <div id="value-prop">
        <div class="title"><span>Lance toi! Apprend à coder</span></div>
        <div class="subtitle"><span>Deviens autonome en développement web en 2 mois</span></div>

        <div class="call2action">
          <%= form_for @prospect, url: save_prospect_path, method: 'post' do |f| %>
            <%= f.email_field :email, placeholder: 'patrick@sebastien.com', class: "control" %>`
            <%= f.submit 'Join the Revolution!', class: "submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="second-div">
  <div class="container">
    <div class="row">
      <h2 class='section-title'>Notre <span class="color">histoire</span></h2>

      <p>Le programmeur est l’artisan des temps moderne. Apprendre à coder, c’est devenir créateur, avoir le pouvoir de <strong class="color">donner vie à ses idées</strong> et qui sait, d’améliorer le quotidien de millions de gens!</p>

      <p>Quand j’étais en <strong class="color">école de commerce</strong>, je sentais qu’il me manquait quelque chose. Je sentais que je voulais créer, et cette élan m’a amené à apprendre la programmation, puis à travailler comme développeur dans plusieurs startups a Paris et à San Francisco. Je ne savais pas à l’époque que cette décision changerait ma vie et m’ouvrirait tant d’horizons et de possibilités. J’ai créé <strong class="color">E C L O R E</strong> pour donner à d’autres la chance de trouver leur voie et découvrir qui ils sont!</p>

      <p>Notre ambition est simple: a travers <strong class="color">l’apprentissage du code</strong>, nous voulons aider les gens à faire leurs propres choix et poursuivre leurs rêves, quels qu’ils soient!</p>
    </div>
  </div>
</div>

<div id="third-div">
  <div class="container">
    <h2 class='section-title'>Une formation complète, à votre rythme (2 à 3 mois) avec:</h2>
    <div class="row">
      <div class="col-md-4">
        <h4>Un objectif clair, simple et ambitieux</h4>
        <p>Transformer de parfaits débutants en développeurs autonomes, capables de réaliser une application web et de continuer à apprendre par eux-mêmes</p>
      </div>
      <div class="col-md-4">
        <h4>Une pédagogie créée en conséquence</h4>
        <p>Outre les compétences techniques nécessaires, nous vous transmettrons les savoirs pratiques, les modes de pensée et les reflexes essentiels qu'un développeur doit avoir</p>
      </div>
      <div class="col-md-4">
        <h4>Les professeurs parfaits pour le job</h4>
        <p>Yann et Louis ont appris à coder tard et comprennent les difficultés des débutants. Et pour les points plus corsés, ils font appel à un boss du code qui s'appelle Jérome et carbure au café</p>
      </div>
    </div>
  </div>
</div>


<div id="fourth-div">
  <div class="container">
    <h2 class='section-title'>Des vidéos, notes de cours et exercices corrigés tout au long du programme, pour une formation...</h2>
    <div class="row item">
      <div class="col-xs-1"><i class="fa fa-check-square-o"></i></div>
      <div class="col-xs-11">
          <span>Centrée sur Ruby on Rails, un outil de développement web incroyablement puissant et intuitif, parfait pour débuter comme pour des usages avancés</span>
      </div>
    </div>
    <div class="row item">
      <div class="col-xs-1"><i class="fa fa-check-square-o"></i></div>
      <div class="col-xs-11">
          <span>Intégrant toutes les autres technologies indispensables au développement (HTML/CSS, Javascript, Git&amp;Github…)</span>
      </div>
    </div>

    <div class="row item">
      <div class="col-xs-1"><i class="fa fa-check-square-o"></i></div>
      <div class="col-xs-11">
          <span>Où vous travaillerez avec les vrais outils qu'utilisent les développeurs! A la fin du programme, votre ordinateur sera parfaitement configuré et équipé et vous, vous serez prets a donner vie à vos idées!</span>
      </div>
    </div>


  </div>
</div>


<div id="footer">
  <div class="container">
    <h2 class="color">Débuter en code peut sembler difficile, en réalité c'est si simple avec les resources adaptées!</h2>
    <div class="call2action">
      <%= form_for @prospect, url: save_prospect_path, method: 'post' do |f| %>
        <%= f.email_field :email, placeholder: 'patrick@sebastien.com', class: "control" %>`
        <%= f.submit 'Join the Revolution!', class: "submit" %>
      <% end %>
    </div>
  </div>
</div>



