<nav id="brand">
  <%= image_tag 'logo_mvp.png' %>
  <span>Eclore</span>
</nav>


<div id="flash">
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>">
        <a href="#" data-dismiss="alert" class="close">×</a>
        <p><%= value %></p>
      </div>
  <% end %>
</div>
<div id="first-div">

  <div class="container-fluid">
    <div class="row">
      <div id="value-prop">
        <div class="title"><span>La première formation au code immersive et en ligne</span></div>
        <div class="subtitle"><span>Devenez un développeur accompli en 3 mois</span></div>

        <div class="call2action">
          <!-- <span class="placeholder"><strike>Courriel</strike>&nbsp Email</span> -->
          <%= form_for @prospect, url: create_prospect_path, method: 'post' do |f| %>
            <%= f.email_field :email, placeholder: "Email", class: "control" %>`
            <%= f.submit 'Je me lance', class: "submit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="second-div">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h4>Une pédagogie intelligente</h4>
        <p>TVidéos, infographies, et exercices concrets et directement applicables pour vous transmettre le savoir et les réflexes indispensables du développement web</p>
      </div>
      <div class="col-md-4">
        <h4>Une formation à votre rythme</h4>
        <p>Terminez le programme en 2 à 4 mois selon le nombre d'heures que vous y consacrez chaque semaine</p>
      </div>
      <div class="col-md-4">
        <h4>Des mentors toujours à votre disposition</h4>
        <p>Un problème? Ne restez jamais bloqués, vous pouvez en permanence nous contacter pour poser vos questions ou approfondir certains points</p>
      </div>
    </div>
  </div>
</div>

<div id="third-div">
  <div class="container">
    <h2>A qui s'adresse Eclore ?</h2>
    <p>Notre service est adapté au débutant. Il repose sur un programme immersif et innovant, structuré pour vous rendre autonome en 2 à 4 mois.</p>
    <p>Quel que soit votre niveau d’étude ou expérience, que vous souhaitiez construire votre application web, gérer une équipe de développeurs, ou acquérir un nouveau savoir-faire, Eclore vous offre les moyens de prendre part à au monde de demain.</p>
  </div>
</div>

<div id="footer">
  <div class="container">
    <h2>Apprendre à coder peut sembler difficile, en réalité c'est si simple avec les resources adaptées!</h2>
    <div class="call2action">
      <%= form_for @prospect, url: create_prospect_path, method: 'post' do |f| %>
        <%= f.email_field :email, placeholder: 'Email', class: "control", required: "required" %>
        <%= f.submit 'Je me lance', class: "submit" %>
      <% end %>
    </div>
  </div>
</div>


<% content_for :javascript_includes do %>
  <script type="text/javascript">
    mixpanel.track_links(".call2action .submit", "Interested in VP");
  </script>
  <script type="text/javascript">

    // $('.call2action').each(function(){
    //   this.children('.control').focus(function(){
    //     console.log("focusin");
    //     this.children('.placeholder').css("display", "none")
    //   });
    //   this.children('.control').focusout(function(){
    //     console.log("focusout");

    //     this.children('.placeholder').css("display", "inline")
    //   });

    // })

    // $('.call2action .control').focus(function(){
    //   console.log("focusin");
    //   $('.call2action .placeholder').css("display", "none")
    // });
    // $('.call2action .control').focusout(function(){
    //   console.log("focusout");

    //   $('.call2action .placeholder').css("display", "inline")
    // });
  </script>
<% end %>