<div id="brand">
  <%= image_tag 'eggshell.svg' %>
  <span>Eclore</span>
</div>

<div id="survey-div">
  <div class="container">
    <div class="row hidden-lg hidden-md "><div class="padder"><!-- so the text doesn't bump into the top left logo on small screens  --></div></div>
    <div class="row"><div class="col-xs-12">
      <div class="survey-header">
        <h1>Merci de votre intérêt!</h1>
        <p>Nous sommes à pied d'oeuvre pour terminer la plateforme et les cours au plus vite. Vous serez averti dès qu'ils seront prêts</p>
        <p>Aidez-nous à créer le service <strong class="color">idéal pour vous </strong>: dites-nous laquelle de ces offres vous interesse le plus</p>
      </div>
    </div>
</div>
    <div class="row">
      <div class="col-md-4">
        <%= form_for @prospect, url: update_prospect_path(@prospect.id), method: 'put' do |f| %>
        <div class="plan-container">
          <div class="plan-wrapper">
            <div class="header">
              <h3 class="single-line">Développement Web</h3>
              <div class="price">150<span>€</span></div>
            </div>
            <ul class="details first">
              <li>
                <i class="fa fa-check"></i><span>Fondamentaux de la programmation</span>
              </li>
              <li>
                <i class="fa fa-check"></i><span>Les outils du développeur</span>
                <ul>
                  <li>- Terminal</li>
                  <li>- Git et Github</li>
                  <li>- Déployement sur Heroku</li>
                </ul>
              </li>
              <li>
                <i class="fa fa-check"></i><span>Développement web</span>
                <ul>
                  <li>- HTML/CSS</li>
                  <li>- Ruby on Rails</li>
                  <li>- Javascript (JQuery)</li>
                </ul>
              </li>
            </ul>
            <div class="plan-padder hidden-lg hidden-xs hidden-sm"></div>
            <div class="center">
            <%= f.radio_button :plan, 150 %>
            <%= f.label :plan, "Selectionner", value: 150, class: "btn btn-default click"%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="plan-container">
          <div class="plan-wrapper">
            <div class="header">
              <h3>Développement Web et Mobile</h3>
              <div class="price">250<span>€</span></div>
            </div>
            <ul class="details">
              <li><i class="fa fa-check"></i><span>Fondamentaux de la programmation</span></li>
              <li><i class="fa fa-check"></i><span>Les outils du développeur</span></li>
              <li><i class="fa fa-check"></i><span>Développement web</span></li>
              <li><i class="fa fa-check"></i><strong>Développement web avancé avec AngularJS</strong></li>
              <li><i class="fa fa-check"></i><strong>Développement d'app mobiles</strong>
                <ul>
                  <li>- Développement hybride pour iOS et Android avec Cordova</li>
                  <li>- Hosting avec Firebase</li>
                </ul>
              </li>
            </ul>
<div class="center">
  <%= f.radio_button :plan, 250 %>
            <%= f.label :plan, "Selectionner", value: 250, class: "btn btn-default click"%>

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">

        <div class="side-wrapper">
          <div class="caption">
            <h4>N'hésitez pas a nous faire part de vos commentaires ou expliquer votre choix, on est a votre écoute!</h4>
          </div>
          <div class="form-group">
            <%= f.text_area :comment, placeholder: "Aller, sois sympa, explique nous ton choix!" %>
          </div>

          <%= f.submit 'Envoyer', class: "submit" %>

        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>
